<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div id="page1">
        <div id="p1-left"></div>
        <h1 id="contactus">Contact Us</h1>
        <h3 id="p1info">Fell Free to contact us any time We will get <br>back to you as soon as we can!</h3>

        <div id="info-box">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Message">
            <div id="send">SEND</div>
        </div>
    </div>
    
</body>
</html>