<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div id="main">
        <div id="div-left">
            <div id="left-upp">
                <h2>Atelier New Reqime <br>FW 2017</h2>
                <h3 id="h31">From Montreat , to the world.</h3>
                <h3 id="h32">Check the lookbook</h3>

            </div>
            <div id="left-down">
                <div id="infobox">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem asperiores ea quos. Eaque, voluptatibus animi voluptates possimus eum omnis! A sed dignissimos repellat illo, sit tempore fuga consequuntur saepe ex impedit sint?</h4>


                    <div id="button">Explore more</div>
                </div>

            </div>
        </div>   
        <div id="div-right">

            <div id="right-box1" class="box-right">
                <!-- <img src="../i1.jpg"> -->

            </div>
            <div id="right-box2" class="box-right">
                <!-- <img src="../i2.jpg"> -->
            </div>
            <div id="box-white"></div>
            <div id="whitebox">
                <h3>Slides Through Files</h3>
                <div id="line"></div>
            </div>


        </div>
    </div>

   
    
</body>
</html>